<div class="page-header">
	<h1><%= @user.full_name %></h1>
	<%= link_to "Edit Profile", edit_user_registration_path %>
</div>

<% if @statuses %>
	<% @statuses.each do |status| %>
		<div class="status">
			<p><%= status.content %></p>
			<div class="meta">
				<%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago
			</div>
		</div>
	<% end %>
<% end %>
